/*=============== Fonts ===============*/
$fontPrincipal: 'Montserrat', sans-serif;;
$fontTitle: 'Playfair Display', serif;

/*=============== Font Width ===============*/
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

/*=============== Colors ===============*/
$orange: #F2994A;
$gray1: #BDBDBD;
$gray2: #4F4F4F;
$black: #000;
$white: #fff;

/*=============== Mediaqueries ===============*/
$phone: 320px;
$tablet: 768px;
$desktop: 1200px;

/*=============== Espacio ===============*/
$separacion: 5rem;